* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(120, 79, 178);
    font-family: sans-serif
}

h2 {
    color: rgb(120, 79, 178);
    font-family: sans-serif
}

h3 {
    color: rgb(120, 79, 178);
    font-family: sans-serif
}

.cambia {
    display: inline;
}

.cambio {
    display: inline;
}

.cambiamos {
    display: inline;
}

.cambie {
    display: inline;
}

body {
    background-image: linear-gradient(to right, #fefefe, #e8f5fa);
}
img {
    width: 9.375em;
}

.logo {
    margin-bottom: 0.625em;
    padding-bottom: 0.0625em;
}

a {
    text-decoration: none;
    color: rgb(120, 79, 178);
    font-family: sans-serif
}

.relative {
    position: relative;
    bottom: 1.875em;
}

.flexpadre {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    -ms-grid-column-align: end;
}

.itemunoo {
    width: 18.75em;
    transition: all 0.5s;
}

.itemunoo:hover {
    height: 23.75em;
    width: 25em
}

.itemdos {
    width: 18.75em;
    transition: all 0.5s;
}

.itemdos:hover {
    height: 23.75em;
    width: 25em
}

.itemtres {
    width: 18.75em;
    transition: all 0.5s;
}

.itemtres:hover {
    height: 23.75em;
    width: 25em
}

.itemcua {
    width: 18.75em;
    transition: all 0.5s;
    transform: translateY(3.125em);
}

.itemcua:hover {
    height: 23.75em;
    width: 25em
}

.itemcin {
    width: 18.75em;
    transition: all 0.5s;
    transform: translateY(3.125em);
}

.itemcin:hover {
    height: 23.75em;
    width: 25em
}

.itemseis {
    width: 18.75em;
    transition: all 0.5s;
    transform: translateY(3.125em);
}

.itemseis:hover {
    height: 23.75em;
    width: 25em
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2.5em;
    margin-top: 0px;
}

.cajauno {
    display: inline;
    padding: 1px;
    width: 100px;
    padding: 0px 1px 0px 1px;
}

.cajados {
    display: inline;
    display: inline;
    padding: 1px;
    width: 100px;
    padding: 0px 1px 0px 1px;
}

.cajatr {
    display: inline;
    display: inline;
    padding: 1px;
    width: 100px;
    padding: 0px 1px 0px 1px;
}

.cajacu {
    display: inline;
    display: inline;
    padding: 1px;
    width: 100px;
    padding: 0px 1px 0px 1px;
}

p {
    font-family: sans-serif;
    text-transform: uppercase;
}

.romaprin {
    width: 100%;
    height: 28.125rem;
}

.botonlogo {
    margin-top: 0px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold
}

.botonera {
    margin-right: 1.25rem;
}

.botonera ul li {
    display: inline-block;
    margin-left: 1.25em;
}

.botonera ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(120, 79, 178);
    font-family: sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.control {
    width: 100%;
    background-color: #24303c;
    padding: 0.625rem;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

.boton {
    width: 100%;
    height: 2.8125rem;
    margin-top: 0.9375em;
    border-radius: 0.25rem;
    border: none;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(to left top, #005aa7, #fffde4);
    font-size: 1.25rem;
}

.boton:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
}

.boton:active {
    transform: translateY(3px);
}

.control:focus {
    height: 3.75em;
}

.contenedor {
    transform: translate(0px, -50px);
}

.botonuno:hover {
    filter: grayscale(90%);
}

.botondos:hover {
    filter: grayscale(90%);
}

.botontres:hover {
    filter: grayscale(90%);
}

.botoncua:hover {
    filter: grayscale(90%);
}

header {
    grid-area: header;
}

.romaprin {
    grid-area: roma;
}

.primeraseccion {
    grid-area: primer;
}

.seguseccion {
    grid-area: segun;
}

footer {
    grid-area: footer;
}

.botonWhatsApp img {
    width: 4.375em;
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
}

.botonig img {
    width: 4.375em;
    position: fixed;
    bottom: 5rem;
    right: 0.625rem;
}

.img-fluid {
    width: 100%;
    width: 93.75em;
}

.album {
    background-image: linear-gradient(to right, #dfbcc7, #7ed1ed);
}
@media(max-width: 340px){
    body{background-image: linear-gradient(to right, #fefefe, #e8f5fa);}
}

@media(min-width: 341px) and (max-width: 380px){
    header{font-size: 7px;}
   .contenedor{width: 200px;}

   .mapa{width: 100px;}
   .card-img-top{width: 12.5rem;}
   .card-title{font-size: 0.75rem;}
   .btn-primary{font-size: 0.125rem;}
   body{background-image: linear-gradient(to right, #fefefe, #e8f5fa);}
   .contenedor{width: 250px;transform: translate(50px, -9px);}
   .mapa{width: 100px;transform: translate(0px, -9px);}


}

@media(min-width: 381px) and (max-width: 450px){
    header{font-size: 8px;;}
    .contenedor{width: 350px;}
    body{background-image: linear-gradient(to right, #fefefe, #e8f5fa);}


}
@media(min-width: 452px) and (max-width: 530px){
    header{font-size: 9px;}
    .contenedor{width: 400px;}
  

}
@media(min-width: 531px) and (max-width: 767px) { 
    header{font-size: 11px;}
    body{background-image: linear-gradient(to right, #fefefe, #e8f5fa);}
  

}

@media (mix-width: 767px) and (max-width: 991px)  {
    body {
        font-size: 3.5rem; background-image: linear-gradient(to right, #fefefe, #e8f5fa);
    }}
    @media (mix-width: 992px) {}

.card-img-top:hover {
    filter: grayscale(70%);
}
.card-body{background-image: linear-gradient(to right, #dccfd9, #f88edf);}
